/* Remove the standard margin/padding of the html body */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20pt;
    font-weight: normal;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 16pt;
    font-weight: normal;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 16pt;
    font-weight: normal;
    padding: 10px;
}

h4 {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
}

/*********************************************************************
**********            Menu                                  ********** 
**********************************************************************/

.menu .banner {
    background-color: #c6aa98;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.menu .banner img {
    width: 400px;
}

.menu .wrapper {
    max-width: flex;
    margin: auto;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
}

.menu .row .link {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c6bfbe;
    color: #ffffff;
    text-decoration: none;
    font-size: 16x;
    text-align: center;
}

.row .link:hover {
    background-color: white;
    color: black;
}

/*********************************************************************
**********            Common Page settings                  ********** 
**********************************************************************/


.media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7vw;
}

.media-container .content {
    flex: 1;
    margin: auto;
    max-width: 50vw;
    text-align: justify;
}

.media-container .image img {
    margin: auto;

}


.button {
    justify-content:center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: normal;
    margin: 20px;
    padding:20px;
    text-align: center;
    border: none;

}


.row .button {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 8px;
    background-color:light grey;
    color:black;
    font-size: 16x;
    text-align: center;
}

.row .button:hover {
    background-color: #c6bfbe;
    color: black;
}



/*********************************************************************
**********            universität page                             ********** 
**********************************************************************/

.top-image-container {
    display: flex;
    width: 100%;
    justify-content: stretch;
    text-align: left;
}

.top-image {
    flex-wrap: nowrap;
    flex: 1 1 0%;
    flex-flow: center;
    margin: 10px;

}

.top-image img {
    height: 250px;
    min-width: 100%;
    object-fit: cover;
    vertical-align: middle;

}



/*********************************************************************
**********            Kontakt page                          ********** 
**********************************************************************/

.media-container .image iframe {
    max-width: 60vw;
    margin: 1px;
    width: 600px;
    height: 450px;
    border: none;

}

/*********************************************************************
**********            vorlesungen page                      ********** 
**********************************************************************/

.media-container .vorlesung {

    border: 2px solid #c6bfbe;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    vertical-align: center;
}





/*********************************************************************
**********            campus page                          ********** 
**********************************************************************/


.media-container img {
    max-height: 50vh;
}

.info-uni {
    flex: 1;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vw;
    
}
.low-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.low-image {
    flex-wrap: nowrap;
    flex: 1 1 0%;
    flex-flow: center;
    margin: 30px;

}

.low-image img {
    width:200px;
    min-width: 100%;
    max-height: 400px;
    object-fit: cover;
    vertical-align: middle;

}


/*********************************************************************
**********            anmelden page                         ********** 
**********************************************************************/

.anmelden {
    justify-content: center;
    border:2px solid #c6bfbe;  
    border-radius: 8px;
    margin-top:50px;
    margin-bottom: 150px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 1px;
    text-align: center;
}

.anmelden form input  {
    display: flex;
    justify-content:center;
    margin: 15px auto;
    padding: 5px;
 
}





/*********************************************************************
**********            Footer                                ********** 
**********************************************************************/


.footer {
    background-color: #c6bfbe;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}